body{font-family:arial;}
.my_clinics{
margin-top: 49px;
margin-right: 8px;
}
.my_clinics a {font-size: 14px;font-weight: normal;}
.col-md-3.language {
    min-width: 230px;
}
header .col-md-3 .btn-primary.saved_clinics {
 max-width:none;
}
header div.col-md-6 {
    width: 500px;
}
header.row .col-md-3.logo {
  max-width: 270px;
}
.rating_wrar .take_buttan .btn-default {
	margin-right: 0!important;
	float: right;
}
.rating_wrar .take_buttan .btn-default.cboxElement {
	float: inherit;
}
.insurance_companie .table img {
	width:180px;
}
.companylists .companylists_row .special_offers_ratting {float: left;margin-left: 10px;min-width: 125px;text-align: left;width: auto;}
