			#wrapper {
				position: absolute;
				width: 50%;
				left: 25%;
				top: 50px;
			}
			#carousel-wrapper {
				padding-bottom:0px;
				position: relative;
			}
			#carousel, #thumbs {
				overflow: hidden;
			}
/*			#carousel-wrapper .caroufredsel_wrapper {
				box-shadow: 0 0 5px #899;
			}
*/
			#carousel span, #carousel img,
			#thumbs a, #thumbs img  {
				display: block;
				float: left;
			}
			#carousel span, #carousel a,
			#thumbs span, #thumbs a {
				position: relative;
			}
			#carousel img,
			#thumbs img {
				border: none;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
			}
			#carousel img.glare,
			#thumbs img.glare {
				width: 102%;
				height: auto;
				cursor: pointer;
			}
			#thumbs img {
				max-width: 150px;
			}
			#carousel span {
				width: 554px;
				height: 313px;
			}

			#thumbs-wrapper {
				padding: 20px 0px 2px;
				position: relative;
			}
			#thumbs a {
				border: 0px solid #fff;
				max-width: 150px !important;
				height: 100px;
				margin: 0 8px;
				overflow: hidden;
				-webkit-transition: border-color .5s;
				-moz-transition: border-color .5s;
				-ms-transition: border-color .5s;
				transition: border-color .5s;
			}
			#thumbs img {padding: 0;}
			#thumbs a:hover, #thumbs a.selected {
				border-color: #ddd;
			}
			
			#wrapper img#shadow {
				width: 100%;
				position: absolute;
				bottom: 0;
			}

			#prev, #next {
				background: transparent url('../images/nav_icon.png') no-repeat 0 0;
				display: block;
				width: 17px;
				height: 48px;
				margin-top: -24px;
				position: absolute;
				top: 50%;
			}
			#prev {
				background-position: 0 0;
				left: 3px;
			}
			#next {
				background-position: -19px 0;
				right: 3px;
			}			
			#prev:hover { 
				background-position: 0 bottom;				
			}
			#next:hover {
				background-position: -19px bottom;				
			}
			#prev.disabled, #next.disabled {
				display: none !important;
			}
			
			#donate-spacer {
				height: 100%;
			}
			#donate {
				border-top: 1px solid #999;
				width: 750px;
				padding: 50px 75px;
				margin: 0 auto;
				overflow: hidden;
			}
			#donate p, #donate form {
				margin: 0;
				float: left;
			}
			#donate p {
				width: 650px;
			}
			#donate form {
				width: 100px;
			}		
