{% block body %}	
	<script src="{{ asset('js/map.js') }}"></script>
	<script>
	  $(document).ready(function () {
	  getGivenAddressMapInitialize('{{ ssAddress }}','{{ ssCompanyName }}')
	  });
	</script>
<div id="show_address_map"></div>
{% endblock %}