<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
        <title>{% block title %}Test Application{% endblock %}</title>
        {% include 'AdminMedicalBundle::stylesheets.html.twig' %}

		<script src="{{ asset('admin/js/ace-extra.min.js') }}"></script>
    </head>
    <body>
        {% include 'AdminMedicalBundle::javascripts.html.twig' %}

        {% include "AdminMedicalBundle::header.html.twig"%}

		<div class="main-container container-fluid">
			<a class="menu-toggler" id="menu-toggler" href="#">
				<span class="menu-text"></span>
			</a>

			{{ render(controller('AdminMedicalBundle:Default:sidebar')) }}

            {% block body %}

            {% endblock %}
        </div>

		{% include "AdminMedicalBundle::footer.html.twig"%}

    </body>
</html>
