<div class="container thank_for_rating">
		<h2>{{'Thank you for your rating!'|trans}}</h2>
	    <p>{{'Your rating will go live as soon as our staff verifies it'|trans}}</p>
        <div class="row thankyou take_buttan">
        <a class="btn btn-default bluebtn" href="{{ path('client_medical_company_detail', {'id':snConpanyId})}}" tabindex="1">{{'Close'|trans}}</a>
	</div>
</div>